<div class="logoandtext">
  <a style="color: inherit; text-decoration: none;" href="/ide/index.html">
    <img src="/ide/images/haskell-logo.svg"/>
    <h2>IDE</h2>
  </a>
</div>
<ul class="ide-nav nav nav-pills nav-fill">
  <li class="nav-item">
    <a class="nav-link" href="/ide/">Posts</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/ide/about.html">About</a>
  </li>
<!--  <li class="nav-item">
    <a class="nav-link" href="/ide/funding.html">Funding</a>
  </li>
-->
  <li class="nav-item">
    <a class="nav-link" href="/ide/contributors.html">Contributors</a>
  </li>
</ul>

$body$

